{% extends "layout.html" %}
{% block body %}

<div class="container">

<div class="jumbotron">
    <center>
        <h2>Welcome to karaoke with James!</h2>
        <hr>
        <p>
            Use the links in the menu to see the current song queue or request a song.
        </p>
    </center>

    <hr>
    <p>
        Schedule:
    </p>
    <ul>
        <li>Friday 8p - 12a at Rusty Barrel</li>
        <li>Saturday 7p - 11p at Fiesta Grande</li>
        <li>Sunday 7p - 11p at Johnny MacCracken's</li>
    </ul>

</div>

{% endblock %}
